<div class="tab-pane fade " id="account-password" role="tabpanel"
                                                  aria-labelledby="account-pill-password" aria-expanded="false">
    <form id="changePassword" method="POST" action="{% url 'accounts:change_password' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in password_form %}
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                <button type="reset" class="btn btn-light">Cancel</button>
                <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">Save
                    changes</button>
            </div>
        </div>
    </form>
</div>