<div class="tab-pane fade " id="account-vertical-password" role="tabpanel"
                                                  aria-labelledby="account-pill-password" aria-expanded="false">
    <form method="POST" action="{% url 'accounts:reset_password' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in password_form %}
                {% if field.id_for_label == 'id_user_id' %}
                    {{ field }}
                {% else %}
                    <div class="col-12">
                        <div class="form-group">
                            <div class="controls">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
            {% endfor %}
            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">Change</button>
                <button type="reset" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </form>
</div>