{% extends 'staff/base.html' %} 
{% load static %} 
{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'staff/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/vendors/css/tables/extensions/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">

    
{% endblock %} 

{% block title %} Your Lastest Notifications {% endblock %}
{% block breadcrumb %} 
    <li class="breadcrumb-item active"><a href="{% url 'noti:notifications' %}">Notification List</a></li>
{% endblock %}

{% block content  %} 
<div class="content-body">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          
        <section class="with-multi-selection">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">You can update properties of this position</h4>
                        </div>
                        <div class="card-content ">
                            <div class="card-body" style="padding:2% 5%;">
                                <div> 
                                    <h5>Name :</h5>
                                    
                                </div>
                                <br><br>

                                <div class="form-group">
                                    {{form.permissions}}

                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div>
                                <a href="{% url 'irb:position_list' %}">
                                    <button type="button" onclick="return confirm('Are you sure you want to cancel updating?')" class="btn btn-primary mr-2 mb-2 col-lg-2 col-12 ">Cancel</button>
                                </a>
                                <button type="submit" onclick="return confirm('Are you sure you want to update this position?')" class="btn btn-success mb-2 col-lg-2 col-12 " >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </form>
    
</div>
{% endblock %}

{% block js %} 
{% endblock %}